<% if (title) { %>
<div class="ctn-form">
  <form class="form-login" action="post">
    <h1 class="title-login"><%= title %></h1>
    <label for="account_email">Email:</label>
    <input
    id="account_email"
      class="ipt-email"
      name="account_email"
      size="40"
      placeholder="Email"
      type="email"
    />
    <label for="account_password">Password:</label>
    <input
    id="account_password"
      class="ipt-password"
      name="account_password"
      size="40"
      placeholder="Password"
      type="password"
    />
    <button class="btn-login" type="submit">Login</button>
    <h4 class="title-login">No account ? <a class="sign-up" href="/account/register">Sign-up</a></h4>
  </form>
</div>

<% } else { res.redirect('/') } %> <% messages() %>
