<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><% title %> Yeampier Huerta | CSE 340</title>
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/desktop.css" media="(min-width: 1281px)" />
</head>
