<nav>
  <ul class="li-navigation">
    <li><a href="">Home</a></li>
    <li><a href="">Custom</a></li>
    <li><a href="">Sedan</a></li>
    <li><a href="">Suv</a></li>
    <li><a href="">Truck</a></li>
  </ul>
</nav>
<img src="../public/images/site/checkerboard.jpg" alt="" />
