<nav>
  <ul class="li-navigation">
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>Suv</li>
    <li>Truck</li>
  </ul>
</nav>
<img src="../public/images/site/checkerboard.jpg" alt="">
