<div>
  <h1 class="welcome">Welcome to CSE motors!</h1>
  <p><%- messages() %></p>
  <div class="flex-card">
    <div>
      <div class="img-card">
        <div class="textCard">
          <h2 class="font-size">DMC Delorean</h2>
          <h3 class="font-size">3 Cup holders</h3>
          <h3 class="font-size">Superman doors</h3>
          <h3 class="font-size">Fuzzy dicel</h3>
          <button class="today">Own Today</button>
        </div>
        <img
          class="vehiles"
          src="/images/vehicles/adventador-tn.jpg"
          alt="car"
        />
      </div>
    </div>
  </div>
</div>

<div class="grid-columns">
  <div class="grid-one">
    <h3 class="font-size">DMC Delorean reviews</h3>
    <ul class="ul-reviews">
      <li class="font-size">
        "So fast it is almost like traveling in the time" (4/5)
      </li>
      <li class="font-size">Colest ride on the road</li>
      <li class="font-size">I am feeling Mcfly(5./5)</li>
      <li class="font-size">The most futuristc ride out day (4.5/5)</li>
      <li class="font-size">80s livin and love it (5/5)</li>
    </ul>
  </div>
  <div class="grid-second">
    <h3 class="p-upgrade">Delorean Upgrades</h3>
    <div class="grid-updgrade">
      <div class="card-justify">
        <img
          class="width-img"
          src="/images/upgrades/bumper_sticker.jpg"
          alt="sticker"
        />

        <a href="">Bumper sticker</a>
      </div>
      <div class="card-justify">
        <img class="width-img" src="/images/upgrades/flame.jpg" alt="fire" />

        <a href="">Flame Decals</a>
      </div>
      <div class="card-justify">
        <img
          class="width-img"
          src="/images/upgrades/flux-cap.png"
          alt="upgrade"
        />

        <a href="">hub cap</a>
      </div>
      <div class="card-justify">
        <img class="width-img" src="/images/upgrades/hub-cap.jpg" alt="hub" />

        <a href="">Flux Capacitador</a>
      </div>
    </div>
  </div>
  <div >
    <h3 class="p-upgrade">DMC Delorean reviews</h3>
    <ul class="ul-reviews">
      <li class="font-li">
        "So fast it is almost like traveling in the time" (4/5)
      </li>
      <li class="font-li" >Colest ride on the road</li>
      <li class="font-li">I am feeling Mcfly(5/5)</li>
      <li class="font-li" >The most futuristc ride out day (4.5/5)</li>
      <li class="font-li">80s livin and love it (5/5)</li>
    </ul>
  </div>
</div>
