<div>
  <p class="welcome">Welcome to CSE motors!</p>
  <div>
    <div class="img-card">
      <div class="textCard">
        <p class="font-size">DMC Delorean</p>
        <p class="font-size">3 Cup holders</p>
        <p class="font-size">Superman doors</p>
        <p class="font-size">Fuzzy dicel</p>
        <button>own Today</button>
      </div>
      <img class="vehiles" src="images/vehicles/adventador-tn.jpg" alt="car" />
    </div>
  </div>
</div>
<div>
  <p>DMC Delorean reviews</p>
  <ul class="ul-reviews">
    <li class="font-size">
      "So fast it is almost like traveling in the time" (4/5)
    </li>
    <li class="font-size">Colest ride on the road</li>
    <li class="font-size">I am feeling Mcfly(5/5)</li>
    <li class="font-size">The most futuristc ride out day (4.5/5)</li>
    <li class="font-size">80s livin and love it (5/5)</li>
  </ul>
</div>
<div>
  <p class="p-upgrade">Delorean Upgrades</p>
  <div class="grid-updgrade">
    <div class="card-justify">
      <img
        class="width-img"
        src="images/upgrades/bumper_sticker.jpg"
        alt="car"
      />

      <a href="">Bumper sticker</a>
    </div>
    <div class="card-justify">
      <img class="width-img" src="images/upgrades/flame.jpg" alt="car" />

      <a href="">Flame Decals</a>
    </div>
    <div class="card-justify">
      <img class="width-img" src="images/upgrades/flux-cap.png" alt="car" />

      <a href="">hub cap</a>
    </div>
    <div class="card-justify">
      <img class="width-img" src="images/upgrades/hub-cap.jpg" alt="car" />

      <a href="">Flux Capacitador</a>
    </div>
  </div>
</div>
