<h1>Add new classification</h1>

<div class="ctn-classification">
    <form  class="form-classification" action="">
        <label for="">Classification model:</label>
        <input
        id=""
          class="ipt-email"
          name=""
          size="20"
          placeholder="model"
          type="text"
          value=""
          required
        />
        <button class="btn-classification" type="submit">Add classification</button>
    </form>
</div>