<form action="/inv/update" method="post">
  <button type="submit">Update Vehicle</button>

  <input type="hidden" name="inv_id" <% if(locals.inv_id) { % /> value="<%=
  locals.inv_id %>" <% } %>>
</form>
