
<% if (title) { %> <% } else { res.redirect('/') } %> <%- messages() %>
  


  <h1 class="title-login"><%= title %></h1>

<div class="ctn-management">
  <a href="/inventory/add-classification">Add New Classification</a>
  <a href="/inventory/add-inventory">Add New Vehicle</a>
</div>
    

<h1>Manage inventory</h1>
<p>Chosse a classification to see those inventory items</p>

<% classification_select %>



<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>

